# http://www.gnu.org/software/automake

Makefile.in

# http://www.gnu.org/software/autoconf

/autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.h.in
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1
/doxygen-doc

*.o
*.lo
*.la
COPYING
INSTALL
Makefile
config.h
config.guess
config.log
config.status
config.sub
libtool
ltmain.sh
ar-lib
m4
.deps
.libs
*.*~

libethercat.pc
/build/