Source: libethercat
Section: unknown
Priority: optional
Maintainer: Robert Burger <robert.burger@dlr.de>
Build-Depends: libosal-dev, debhelper-compat (= 13), autotools-dev
Standards-Version: 4.5.1
Homepage: https://rmc-github.robotic.dlr.de/pages/common/libethercat/index.html
Vcs-Browser: https://rmc-github.robotic.dlr.de/common/libethercat
Vcs-Git: https://rmc-github.robotic.dlr.de/common/libethercat.git
Rules-Requires-Root: no

Package: libethercat-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libethercat (= ${binary:Version}), ${misc:Depends}
Description: An embeddable realtime EtherCAT-master library.
  This library provides all functionality to communicate with EtherCAT slaves attached to a Network interface.
    support for a queue with mailbox init command for every slave
    distributed clock support
    mailbox support CoE, SoE, FoE,
    scan EtherCAT bus in INIT-to-INIT state transition, thus switching to INIT in every case will do a bus re-scan.
    switching to PREOP state will enable full mailbox support if it is supported by the corresponding EtherCAT slave.
    a PREOP-to-SAFEOP prepares all slaves configured in a process data group
        sending init command
        calculate cyclic process data sizes
        create sync manager configuration
        create fmmu configuration
        configure slave's for distributed clocks
        cyclically provide meassurement of process data
    a SAFEOP-to-OP transition additionally sends command to the attached slaves in every group cycle.
    efficient frame scheduling: EtherCAT datagrams are only queued in state SAFEOP and OP. They will be put in one ore many Ethernet frames and sent all cyclically with one call to hw_tx()

Package: libethercat
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: An embeddable realtime EtherCAT-master library.
  This library provides all functionality to communicate with EtherCAT slaves attached to a Network interface.
    support for a queue with mailbox init command for every slave
    distributed clock support
    mailbox support CoE, SoE, FoE,
    scan EtherCAT bus in INIT-to-INIT state transition, thus switching to INIT in every case will do a bus re-scan.
    switching to PREOP state will enable full mailbox support if it is supported by the corresponding EtherCAT slave.
    a PREOP-to-SAFEOP prepares all slaves configured in a process data group
        sending init command
        calculate cyclic process data sizes
        create sync manager configuration
        create fmmu configuration
        configure slave's for distributed clocks
        cyclically provide meassurement of process data
    a SAFEOP-to-OP transition additionally sends command to the attached slaves in every group cycle.
    efficient frame scheduling: EtherCAT datagrams are only queued in state SAFEOP and OP. They will be put in one ore many Ethernet frames and sent all cyclically with one call to hw_tx()

