#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
export DH_VERBOSE = 1


# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

#export GIT_VERSION = $(shell git describe --long --dirty --tags  | awk -F- '{ print $$1 }')
#
#override_dh_autoreconf:
#	sed 's/VERSION.*/VERSION = ${GIT_VERSION}/' -i project.properties
#	dh_autoreconf

%:
	dh $@

override_dh_builddeb:
	dh_builddeb -- -Zgzip

# dh_make generated override targets
# This is example for Cmake (See https://bugs.debian.org/641051 )
override_dh_auto_configure:
	dh_auto_configure -- --enable-device-file --enable-device-sock-raw
