Package: libethercat-dbgsym
Source: libethercat
Version: 1.0.0
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Robert Burger <robert.burger@dlr.de>
Installed-Size: 283
Depends: libethercat (= 1.0.0)
Section: debug
Priority: optional
Description: debug symbols for libethercat
Build-Ids: 78f17d8f2dffa71ae1043e6568136a4cdc44db67 e4bd4b77789dadee2f6d349e704a7791cb7b0688 f992e79a745e491d64464f4a17c080da2991eef7
